* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0 !important;
  overflow-x: hidden;
}
body {
  background-color: #f4fafc;
}

a {
  color: inherit;
  text-decoration: none;
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.width-100 {
  width: 100%;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(196, 205, 219, 0.6);
  border-radius: 20px;
  border: 6px solid transparent;
  transition: background-color 0.8s;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(196, 205, 219, 1);
}

.loading {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .ant-spin {
    z-index: 3;
  }
}

.ant-modal {
  max-width: unset;
  margin: unset;
}

.ant-modal-centered::before {
  content: unset;
}
