.wrapper {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 2rem;
  line-height: 1.5rem;
  h1,
  h2,
  p {
    margin: 0;
  }
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-weight: 400;
  }
}

.form {
  display: flex;
  gap: 0.5rem;
  input {
    width: 300px;
  }
}

.button {
  background-color: #90b3ff;
  color: white;
}
