@import "../../styles/variables.scss";

%base {
  font-size: 0.8rem;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  font-weight: 500;
  font-family: inherit;
  height: 32px;
  padding: 0 1rem;
  box-shadow: $box-shadow;
  cursor: pointer;
}

.primary {
  @extend %base;
  background-color: #90b3ff;
  color: white;
  font-weight: 600;
}

.primary:disabled {
  background-color: rgb(163, 180, 192);
  cursor: not-allowed;
}
.transparent {
  color: black;
  background-color: transparent;
  font-weight: 500;
  font-family: inherit;
  font-size: 0.8em;
  cursor: pointer;
  border: none;
  width: fit-content;
  padding: 0;
}
