.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 1240px;
  text-align: center;
  margin-top: 50px;

  h1 {
    margin-top: 2rem;
    font-weight: 600;
    font-size: 24px;
  }
  p {
    margin: 0;
  }
}
