$content-dark: rgb(11, 11, 12);
$nav-bar-dark: rgb(16, 16, 19);

$primary-color: #6bebaf;
$primary-color-hover: #87f3b9;

$secondary-color: #5fb7ff;
$secondary-color-hover: #71bfff;

$shadow-color: rgba(82, 150, 167, 0.15);
$box-shadow: $shadow-color 0px 2px 15px;

$danger-color: rgb(235, 85, 103);
$danger-color-hover: rgb(255, 122, 171);
